html, body {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

a:hover {
  cursor: pointer;
 }

.expand-float { 
  background: none;
  position: fixed; 
  height: 50px;
  width: 60px;
  bottom: 0px; 
  right: 0px; 
  float: right;
  padding-top: 10px;
}

#expand-btn {
  float: center;
}

/* .fade-in {
  opacity: 1;
  animation: fadein 0.5s;
}

.fade-out {
  opacity: 0;
  animation: fadeout 0.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
} */

 #editor {
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 5px;
 }

 input[type='file'] {
     display:none;
 }

 .block-select {
    height: 20px;
 }

 /* ------------------------------------ */

.markdown-block {
  display:block;
  border: none;
  box-shadow: none;
}

.markdown-block:hover {
  box-shadow: 0px 5px 5px 0px #eee, 0px -5px 5px 0px #eee;
  overflow: hidden;
}

.active {
  outline: none;
  box-shadow: 0 0 2pt 2pt #ddd;
  border-radius: 5px;  
}

.edit-selection {
  display: block;
  border: none;
  outline: none;
  box-shadow: 0 0 2pt 2pt #ddd;
}

.edit-options {
  padding-top: 5px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  color:#aaa;
  cursor: pointer;
}

.top-pad {
 padding-top: 15px;
}

.bottom-pad {
  padding-bottom: 15px;
}

.left-pad {
 margin-left: 15px;
}

.panel.panel-default {
  margin-bottom: 0 !important;
}

.panel-heading {
  background-color: #f5f5f5!important;
}

.form-control {
  width:auto;
  display:inline-block;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

/*  ---------------------------------------------------------------
  edit slider:      
*/

/* box around the slider */
.edit-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 8px;
  color: #9d9d9d !important;
}

/* Hide default HTML checkbox */
.edit-switch input {
  display:none;
}

/* "Edit" label */
.edit-switch p {
  position: relative;
  right: 3em;
  bottom: 0.3em;
  font-size: 1.25em;
  font-weight: normal;
  cursor: pointer;
}

/* edit slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#edit-mode:checked + .slider {
  background-color: #64b5f6;
}

#edit-mode:checked + #editor-panel {
  visibility: hidden;
}

#edit-mode:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

#edit-mode:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* ------------------------------------ */

hr.divider-gradient {
  margin: 0px !important;
  border: 0;
  height: 1px;
  background: #333; 
  background-image: linear-gradient(to right, #eee, #bbb, #eee);
}

 /* ------------------------------------ 
    split pane */

#split-pane {
  position: relative;
  height: 100%;
  width: 100%;
}

#top-pane {
  display: block;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  box-shadow: inset 0 0 10px #ccc;
}

#bottom-pane {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #ccc;
  background: white;
}

#partition {
  cursor: row-resize;
  margin: 0px !important;
  border: none;
  background-color: white;
  border-top: 1px solid #ccc;
  border-bottom: 0;
  height: 5px;
}

footer {
  position: fixed;
  height: 60px;
  width: 100%;
  bottom: 0px;
  border-top: 1px solid #ccc;
  background-color: white !important;
}